table {
    border-collapse: collapse;
    width: 100%;
    text-align: center;
}

th {
    background-color: lightblue;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}
.offer {
    background-color: #ffe066;
    padding: 20px;
    font-size: 24px;
    text-align: center;
    box-shadow: 0 0 10px orange;
    text-shadow: 1px 1px 2px gray;
    animation: glow 1s infinite alternate;
}

@keyframes glow {
    from {
        box-shadow: 0 0 5px orange;
    }

    to {
        box-shadow: 0 0 20px red;
    }
}